{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Delete Book
{% endblock %}

{% block content %}
  <main class="container-md text-center d-flex justify-content-center gap-4 mt-4">
    <img src="{% if not book.cover %}https://books.google.pl/googlebooks/images/no_cover_thumb.gif
        {% else %}{{ book.cover }}
        {% endif %} " alt="{{ book.title }}">
    <div>
      <h1>{{ book.title }} by {{ book.author }}</h1>
      <form action="{% url 'books:delete' book.id %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p class="col-md-10">Are you sure you want to delete this book?</p>
        <button type="submit" class="btn btn-danger float-end">Delete</button>
      </form>
    </div>
  </main>
{% endblock %}